body{
    background-image: url("/static/images/red-bg.png");
    background-repeat: repeat-x;
    background-color: #620000;
    padding: 2em;
}

input, textarea, button {
    border: 1px solid #550000;
}

textarea{ width: 100% }

#main, #fotter {
    color: black;
    background-color: white;
    margin: 0 auto 0 auto;
    border: 1px solid #550000;
    width: 600px;
    padding: 5em;
}

#main{
    background-image: url("/static/images/background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

th{
    text-align: right;
}

#login {
    padding-bottom: 3em;
    border-bottom: 1px dotted gray;
}

#register {
    padding-top: 2em;
}

fieldset {
    border: 1px solid #b10000;
}
legend {
    color: #b10000;
}

#error {
    margin: 2em auto 2em auto;
    padding-right: 10em;
    border: 2px dashed #5e0000;
    font-weight: bold;
    color: #5e0000;
    background-color: white;
    min-height: 40px;
    width: 600px;
}
.wrong {
    color: #5e0000;
}

#messages {
    margin: 2em auto 2em auto;
    padding-right: 10em;
    border: 2px dashed green;
    color: green;
    background-color: white;
    min-height: 40px;
    width: 600px;
}

.floating {
    float: left;
    padding: 5px;
    padding-right: 32px;
}

.imaged {
    min-height: 34px;
    min-width: 120px;
    border: none;
    cursor:pointer;
}

#acc {
    background-image: url('/static/images/accbutton.png');
}

.ok {
    background-image: url('/static/images/okbutton.png');
}

#rec {
    background-image: url('/static/images/recbutton.png');
}

#reg {
    background-image: url('/static/images/regbutton.png');
}

#header {
    margin: 0 auto 0 auto;
    background-image: url('/static/images/logo.png');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 200px;
    margin-bottom: 2em;
}

#fotter {
    min-height: 10px;
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

img {
    border: none;
}

#quit {
    float: right;
}

.odd {
    background-color: #dddddd;
}
.even {
    background-color: white;
}

#list {
    clear: both;
    margin-top: 3em;
}

#list table {
    width: 100%;
    border: 1px solid gray;
}

#list th {
    text-align: center;
    border: 1px solid gray;
    background-color: #550000;
    color: white;
}

.pwdpwd {
    display: none;
}

.pwdname {
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}
.pwddesc {
    display: none;
    border: 1px solid black;
    color: white;
    background-color: #444444; 
}
.showdesc {
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}

a.selected, .selected {
    background: #ff9600;
}

#overlay {
    display: none;
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-image: url('/static/images/overlay.gif');
}

#master {
    clear: both;
    padding-bottom: 1em;
}

.input {
    display: none;
    color: black;
    position: fixed;
    left: 25%;
    top: 50%;
    width: 50%;
    z-index: 1000;
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

.close {
    cursor:pointer;
    float: right;
}

#counter {
    margin-left: 1em;
}
