body{
    background-color: #b10000;
    color: white;
    padding: 2em;
}

input {
    border: 1px solid #550000;
}
button {
    border: 1px solid #550000;
}

#login {
    color: black;
    background-color: white;
    margin: 0 auto 0 auto;
    padding: 5em;
    border: 1px solid #550000;
    width: 600px;
}

table {
}
