$def with (username='', pwdlist=[])

<div id="main" class="container">
    <div class="well">

    <div id="quit" class="pull-right"><i class="icon-user"></i> $username <a href="/logout" class="btn btn-info">Salir</a></div>

    <div class="list-buttons">
        <a class="btn btn-warning" href="#" onClick="return forget();"><i class="icon-lock icon-white"></i> Olvidar contraseña maestra</a>
        <a class="btn btn-success" href="/new"><i class="icon-plus icon-white"></i> Nueva contraseña</a>
    </div>

    <div id="list">
        <div id="passshow">
            <input id="clear"/><button id="freeze" class="btn btn-inverse"><i class="icon-time icon-white"></i> detener</button><span id="counter"></span>
        </div>
        <table cellspacing="0px" class="table">
            <tr>
                <th></th>
                <th>name</th>
                <th>account</th>
                <th>type</th>
                <th>expiration</th>
                <th></th>
                <th></th>
            </tr>
            $for password in pwdlist:
                <tr class="$loop.parity pwd">
                    $if password['description'] != '':
                        <td><a href="#" class="showdesc btn btn-inverse"><i class="icon-plus icon-white"></i></a></td>
                    $else:
                        <td></td>
                    <td><a href="#" class="pwdname btn btn-success">${password.get('name', 'NONAME')}</a></td>
                    <td class="pwdpwd">${password['password']}</td>
                    <td class="pwdacc">${password.get('account', '--')}</td>
                    <td class="pwdtype">${password.get('type', '--')}</td>
                    <td class="pwdexp">
                        $if password.get('days') > 20:
                            <img src="/static/images/green.png"/>
                        $if  20 >= password.get('days') > 7:
                            <img src="/static/images/yellow.png"/>
                        $if password.get('days') <= 7:
                            <img src="/static/images/red.png"/>
                        (${password.get('days')} días)</td>
                    <td class="pwdedit">
                        <a href="/edit/${password.get('name', 'NONAME')}" class="btn btn-warning">
                            <i class="icon-edit icon-white"></i>
                        </a>
                    </td>
                    <td class="pwddel">
                        <a href="/delete/${password.get('name', 'NONAME')}" class="btn btn-danger">
                            <i class="icon-trash icon-white"></i>
                        </a>
                    </td>
                </tr>
                $if password['description'] != '':
                    <tr class="pwddesc">
                        <td colspan="8">
                            ${password.get('description', '--')}
                        </td>
                    </tr>
        </table>
    </div>
</div>

<div class="modal" id="pwdForm">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Master Password</h3>
    </div>
    <div class="modal-body">
        <input type="password" id="masterpwd"/>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
        <a href="#" id="rec" class="btn btn-danger">Recordar 10'</a>
    </div>
</div>

</div>
