$def with (username='', pwdlist=[])

<div id="main">
    <div id="quit">Hola: $username <a href="/logout">Salir</a></div>
    <div id="forget"><a href="" onClick="return forget();">Olvidar contraseña maestra</a></div>
    <a href="/new">Nueva contraseña</a>
    <div id="list">
        <div id="passshow">
            <input id="clear"/><button id="freeze">detener</button><span id="counter"></span>
        </div>
        <table cellspacing="0px">
            <tr>
                <th></th>
                <th>name</th>
                <th>account</th>
                <th>type</th>
                <th>expiration</th>
                <th></th>
                <th></th>
            </tr>
            $for password in pwdlist:
                <tr class="$loop.parity pwd">
                    $if password['description'] != '':
                        <td class="showdesc">+</td>
                    $else:
                        <td></td>
                    <td class="pwdname">${password.get('name', 'NONAME')}</td>
                    <td class="pwdpwd">${password['password']}</td>
                    <td class="pwdacc">${password.get('account', '--')}</td>
                    <td class="pwdtype">${password.get('type', '--')}</td>
                    <td class="pwdexp">
                        $if password.get('days') > 20:
                            <img src="/static/images/green.png"/>
                        $if  20 > password.get('days') > 7:
                            <img src="/static/images/yellow.png"/>
                        $if password.get('days') < 7:
                            <img src="/static/images/red.png"/>
                        (${password.get('days')} días)</td>
                    <td class="pwdedit">
                        <a href="/edit/${password.get('name', 'NONAME')}">
                            <img src="/static/images/edit.png"
                            alt="edit" title="edit"/>
                        </a>
                    </td>
                    <td class="pwddel">
                        <a href="/delete/${password.get('name', 'NONAME')}">
                            <img src="/static/images/trash.png"
                            alt="delete" title="delete"/>
                        </a>
                    </td>
                </tr>
                $if password['description'] != '':
                    <tr class="pwddesc">
                        <td colspan="8">
                            ${password.get('description', '--')}
                        </td>
                    </tr>
        </table>
    </div>
</div>

<div class="input">
    <img src="/static/images/error.png" class="close" alt="close"/>
    <div id="master">
        <label for="master">Master password:</label>
        <input id="masterpwd" name="master" type="password"/>
        <br/><button type="submit" id="rec" class="imaged"></button>
    </div>
</div>

<div id="overlay"></div>
