$def with (css, title, body, js=[], errors='', msgs='', menu=[])

<html>
    <head>
        <title>$title</title>
        $for j in js:
            <script src="/static/js/$(j).js" type="text/javascript"></script>

        $for style in css:
            <link rel="stylesheet" type="text/css" href="/static/css/$(style).css"/>
    </head>
    <body>
        <div id="header"></div>
        $if msgs:
            <div id="messages" class="alert alert-success">
                <ul>
                    $for msg in msgs:
                    <li>$:msg</li>
                </ul>
            </div>
        $if errors:
            <div id="error" class="alert alert-error">
                <ul>
                    $for error in errors:
                    <li>$:error</li>
                </ul>
            </div>

        $if menu:
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">

                        <ul class="nav">
                        $for i in menu:
                            <li><a href="${i[1]}">${i[0]}</a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div id="menu">
            </div>

        $:body

        <div id="fotter" class="container">
            <div class="well">
            <p>
                Powered by <a href="http://python.org">Python</a> and 
                <a href="http://webpy.org">web.py</a>
            <br/>Desarrollado para el <a href="http://concursosoftwarelibre.org/">CUSL3</a>
            <br/>Licencia GPLv3 pillate el <a
                href="https://github.com/wadobo/GECO">código</a>
            </p>
            <a href="http://wadobo.com">
                <img id="danigm" src="/static/images/wadobolabs.png"
                alt="powered by wadobolabs"/>
            </a>

            </div>
        </div>
    </body>
</html>
