$def with (css, title, body, js=[], errors='', msgs='', menu=[])

<html>
    <head>
        <title>$title</title>
        $for j in js:
            <script src="/static/js/$(j).js" type="text/javascript"></script>

        $for style in css:
            <link rel="stylesheet" type="text/css" href="/static/css/$(style).css"/>
    </head>
    <body>
        <div id="header"></div>
        $if msgs:
            <div id="messages">
                <div class="floating">
                    <img src="/static/images/alert.png"/>
                </div>
                <ul>
                    $for msg in msgs:
                    <li>$:msg</li>
                </ul>
            </div>
        $if errors:
            <div id="error">
                <div class="floating">
                    <img src="/static/images/error.png"/>
                </div>
                <ul>
                    $for error in errors:
                    <li>$:error</li>
                </ul>
            </div>
        
        $if menu:
            <div id="menu">
                $for i in menu:
                    <a href="${i[1]}">${i[0]}</a>
                    $if not loop.last:
                        | 
            </div>

        $:body

        <div id="fotter">
            <p>
                Powered by <a href="http://python.org">Python</a> and 
                <a href="http://webpy.org">web.py</a>
            <br/>Desarrollado para el <a href="http://concursosoftwarelibre.org/">CUSL3</a>
            <br/>Licencia GPLv3 pillate el <a
                href="http://bzr.danigm.net/geco/tgz">código</a>
            </p>
            <a href="http://danigm.net">
                <img id="danigm" src="/static/images/poweredby.png"
                alt="powered by danigm"/>
            </a>
        </div>
    </body>
</html>

