Source: gtk-geco
Section: python
Priority: extra
Maintainer: Daniel Garcia Moreno <dani@danigm.net>
Build-Depends: debhelper (>= 7), python
Standards-Version: 3.8.0
Homepage: http://bzr.danigm.net/geco

Package: gtk-geco
Architecture: any
Depends: python, python-gtk2, python-gecoc, python-notify
Description: Cliente de escritorio de GECO, gestor de contrasenas.
 gtk-geco es un cliente de escritorio para GECO, junto con el demonio gecod
 ofrece un gestor de contrasenas completo. Se puede conectar a otros servidores
 geco.
