.geco-pwd-entry {
    font-weight: bold;
    min-width: 300px;
    background-color: #ffffff;
    color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: 5px;
}

.geco-heading {
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    margin: 10px;
    padding-bottom: 20px;
}

.helloworld-label {
    background-color: rgba(10,10,10,0.7);
}

#gecoSearch {
    padding: 4px 12px;
    border-radius: 0px;
    font-size: 12pt;
    color: rgb(128, 128, 128);
    border: 2px solid rgba(245,245,245,0.2);
    background-gradient-start: rgba(5,5,6,0.1);
    background-gradient-end: rgba(254,254,254,0.1);
    background-gradient-direction: vertical;
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 150px;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
}

#gecoSearch:focus,
#gecoSearch:hover {
    border: 2px solid rgb(136,138,133);
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    background-gradient-direction: vertical;
}

#gecoSearch:hover {
    transition-duration: 300;
}

#gecoSearch:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}
